.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ag-cell {
  width: fit-content !important;
  display: flex !important;
  /* justify-content: start !important; */
  padding: 20px;
}
.ag-root-wrapper{
  border: white !important;
  outline: none !important;
}
.ag-row {
  width: fit-content !important;
  display: flex !important;
  border: white !important;
  /* overflow: hidden !important; */
}
.ag-header-row{
  background-color: white !important;
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: flex-start !important;
}
.ag-row-odd {
  background-color: rgba(78, 78, 159, 0.043) !important;
}
.ag-header-cell{
  width: fit-content !important;
  font-size: 14px !important;
  font-weight: 200 !important;
  color: black !important;
}
.ag-header-viewport {
  background-color: white !important;
}
.ag-center-cols-container{
  height: fit-content !important;
  width: 100% !important;
}
.ag-center-cols-viewport{
  width: 100% !important;
}
.ag-theme-alpine{
  width: 100% !important;
}

.ag-header-cell-label {
  justify-content: center !important;
}
